@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 1.8rem;
}

::-webkit-scrollbar-thumb {
  background: #1D93D1;
  border-radius: 5rem;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: #808080;
}

button {
  border: none;
  color: white;
  background-color: #2d3192;
  padding: 1em 2em;
  transition: all 0.1s;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
}
button:hover {
  background: #ff7c5b;
  color: #fff;
  cursor: pointer;
  font-weight: 800;
  transform: scale(0.95);
}

@font-face {
  font-family: "Sketsa Ramadhan";
  src: url("/Sketsa Ramadhan.otf") format("truetype");
}
:root {
  --primary: #1f85c6;
  --heading-font: "Poppins", serif;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}
.heading span {
  color: #1D93D1;
  font-size: 20px;
}
.heading h1 {
  font-size: 40px;
  color: #fff;
}

.btn {
  margin-top: 10px;
  padding: 10px 30px;
  display: inline-block;
  font-size: 17px;
  color: #1D93D1;
  border: 0.2rem solid #1D93D1;
  border-radius: 5px;
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: #1D93D1;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 9%;
}
.header .navbar a {
  font-size: 17px;
  color: #333332;
  display: inline-block;
  margin: 0 10px;
}
.header .navbar a:hover {
  color: #1D93D1;
}
.header .btn {
  margin-top: 0;
}

.logo {
  width: 3rem;
  height: 3rem;
}
.logo img {
  width: 100%;
  height: 100%;
}

#menu-btn {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 80px;
  width: 90%;
  border-radius: 10px;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
.home .video-container {
  border-radius: 10px;
}
.home .video-container video {
  border-radius: 10px;
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  background-attachment: fixed;
}
.home .content {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}
.home .content .text {
  position: absolute;
  top: 30%;
  width: 100%;
}
.home .content .text span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 4vw;
  display: block;
}
.home .content .text h3 {
  font-size: 6vw;
  color: #fff;
}
.home .content .text p {
  max-width: 600px;
  margin: 10px auto;
  font-size: 15px;
  color: #fff;
  line-height: 2;
}

@media (max-width: 991px) {
  .header {
    padding: 5px 20px;
  }
  section {
    padding: 30 20px;
  }
}
@media (max-width: 768px) {
  .btn {
    margin-top: 10px;
    padding: 10px 30px;
  }
  #menu-btn {
    display: inline-block;
    color: #333333;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 20px;
    font-size: 17px;
    display: block;
  }
  .home {
    margin-top: 70px;
  }
  .home .video-container video {
    height: 80vh;
  }
  .home .content .text span {
    font-size: 6vw !important;
    margin: 20px 10px;
  }
  .home .content .text p {
    margin: 20px 10px;
    font-size: 15px;
  }
  .h1 {
    font-size: 1px;
  }
}
@media (max-width: 390px) {
  .btn {
    margin-top: 10px;
    padding: 5px 15px;
  }
  #menu-btn {
    display: inline-block;
    color: #333333;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 20px;
    font-size: 17px;
    display: block;
  }
  .home {
    margin-top: 70px;
    width: 100%;
  }
  .home .video-container video {
    height: 80vh;
  }
  .home .content .text span {
    font-size: 6vw !important;
    margin: 20px 10px;
  }
  .home .content .text p {
    margin: 20px 10px;
    font-size: 13px;
  }
  .h1 {
    font-size: 1px;
  }
}
.specials {
  padding: 3rem 5rem;
  background: #f5f6f6;
}
.specials h3 {
  color: #808080;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.7em;
}
.specials h3 .blue_text {
  font-size: 1.7em;
}
.specials h1 {
  color: #061a3a;
  margin-bottom: 1em;
  font-size: 4em;
  text-align: center;
  font-weight: 800;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  background: #f5f6f6;
}
.cards-container .card {
  border-radius: 1em;
  height: 40em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cards-container .card .image {
  width: 100%;
  height: 28.4em;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-container .card .image img {
  width: 100%;
  height: 100%;
  border-radius: 1em 1em 0em 0em;
}
.cards-container .card .card-info {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 1em;
}
.cards-container .card .card-info .icon-box {
  position: absolute;
  top: -30%;
  left: 37%;
  width: 7em;
  height: 7em;
  text-align: center;
  margin-bottom: 2rem;
}
.cards-container .card .card-info .icon-box i {
  color: #ff7c5b;
  font-size: 4em;
  background-color: #fff;
  padding: 0.8em 0rem;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.cards-container .card .card-info h3 {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 800;
  padding: 1.5em 0.5em;
  color: #061a3a;
  text-transform: capitalize;
}

.other-info {
  text-align: center;
  padding: 3rem 5rem;
  width: 100%;
  height: 50em;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/Images/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.other-info h2 {
  font-size: 6em;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding-top: 2em;
}
.other-info p {
  font-size: 1.6em;
  color: #fff;
  font-weight: 400;
  width: 50em;
  text-align: center;
  margin: 0 auto;
}
.other-info button {
  margin-top: 1em;
}

.popular-destinations {
  padding: 3rem 5rem;
  background-color: #fff;
}
.popular-destinations .destinations-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
}
.popular-destinations .destinations-container .destination {
  position: relative;
  height: 34em;
  border: 1em solid #f5f6f6;
  border-radius: 1em;
}
.popular-destinations .destinations-container .destination .content h3 {
  font-size: 1.6em;
}
.popular-destinations .destinations-container .destination .content h1 {
  color: #061a3a;
  margin-bottom: 1em;
  font-size: 4em;
  font-weight: 800;
}
.popular-destinations .destinations-container .destination .content span {
  font-size: 1.9em;
}
.popular-destinations .destinations-container .destination .lower-content {
  text-align: center;
  margin-top: 10em;
  background: #f5f6f6;
  border-radius: 50%;
  padding: 5em 2em;
}
.popular-destinations .destinations-container .destination .lower-content h2 {
  font-size: 2.5em;
  color: #061a3a;
  text-align: center;
  font-weight: 700;
}
.popular-destinations .destinations-container .destination .lower-content button {
  background-color: #ff7c5b;
}
.popular-destinations .destinations-container .destination .lower-content button:hover {
  background-color: #061a3a;
}
.popular-destinations .destinations-container .destination:nth-child(1) {
  border: none;
}
.popular-destinations .destinations-container .destination .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}
.popular-destinations .destinations-container .destination .image:after {
  content: "";
  background: rgba(0, 0, 0, 0.1);
}
.popular-destinations .destinations-container .destination .image img {
  width: 100%;
  height: 100%;
  transition: 0.7s;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular-destinations .destinations-container .destination .image img:hover {
  transform: scale(1.1);
}
.popular-destinations .destinations-container .destination p {
  font-size: 3em;
  font-weight: 600;
  color: #ff7c5b;
  position: absolute;
  left: 5%;
  bottom: 10%;
}

.services {
  padding: 3rem 5rem;
  background-color: #f5f6f6;
}
.services .service-information h2 {
  font-size: 4em;
  text-transform: capitalize;
  color: #061a3a;
  font-weight: 700;
  text-align: center;
}
.services .service-information p {
  margin-bottom: 1.5em;
  width: 40em;
  font-size: 1.5em;
  padding: 20px;
  margin: 0 auto;
  text-align: justify !important;
}
.services .services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.services .services-container .service {
  text-align: center;
  transition: all 0.3s;
  padding: 1.5em 3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;
  border-radius: 10px;
}
.services .services-container .service .icon-container {
  text-align: center;
}
.services .services-container .service .icon-container i {
  text-align: center;
  width: 3em;
  height: 3em;
  background: #ff7c5b;
  padding: 1.5em 0em;
  font-size: 2.5em;
  border-radius: 50%;
  color: #fff;
}
.services .services-container .service h2 {
  text-align: center;
  font-size: 2em;
  margin: 1em 0em;
  color: #061a3a;
}
.services .services-container .service p {
  font-size: 1.4em;
  text-align: left;
}

.blue_text {
  color: #2A8DCC;
  font-family: "Sketsa Ramadhan";
  text-transform: capitalize;
}

.blue_text_footer {
  color: #2A8DCC;
  font-family: "Sketsa Ramadhan";
  text-transform: capitalize;
  font-size: 40px;
}

.testimonial-container {
  background-color: #ffffff;
  text-align: center;
  padding: 30px 20px;
}
.testimonial-container .content h3 {
  font-size: 1.6em;
}
.testimonial-container .content h1 {
  color: #061a3a;
  margin-bottom: 1em;
  font-size: 4em;
  font-weight: 800;
}
.testimonial-container .test_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-container .test_container .container {
  position: relative;
  width: 800px;
  min-width: 350px;
  min-height: 250px;
  padding-bottom: 40px;
  overflow: hidden;
}
.testimonial-container .test_container .wrapper {
  width: 300%;
  /* 300% 'caz we have 3 cards */
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}
.testimonial-container .test_container .card {
  width: 800px;
  min-height: 100%;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.testimonial-container .test_container .card-thumb {
  width: 70%;
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}
.testimonial-container .test_container .client-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial-container .test_container .client-name {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px 20px;
  background: #fff;
  text-transform: capitalize;
  font-size: 14px;
}
.testimonial-container .test_container .card-body {
  width: 120%;
  min-height: 100%;
  height: auto;
  margin-left: 20px;
  position: relative;
  padding-bottom: 50px;
}
.testimonial-container .test_container .review {
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
}
.testimonial-container .test_container .rating {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-container .test_container .star {
  width: 25px;
  margin-right: 5px;
}
.testimonial-container .test_container .indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial-container .test_container .indicators button {
  background: none;
  border: none;
  outline: none;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  border: 2px solid #01B0F3;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.5s;
  padding: 0;
}
.testimonial-container .test_container button.active {
  width: 40px !important;
  border-radius: 50px;
  background: #01B0F3;
}
@media (max-width: 800px) {
  .testimonial-container .test_container .container {
    width: 50%;
    margin: auto;
  }
  .testimonial-container .test_container .card {
    flex-direction: column;
  }
  .testimonial-container .test_container .card-thumb {
    width: 100%;
    border-radius: 10px;
  }
  .testimonial-container .test_container .card-body {
    width: 100%;
    min-height: auto;
    margin-left: 0;
  }
}
@media (max-width: 390px) {
  .testimonial-container .test_container .testimonial-container {
    margin: 0 auto;
    width: 100%;
  }
  .testimonial-container .test_container .container {
    width: 50%;
    margin: 0 auto;
  }
  .testimonial-container .test_container .card {
    margin: 0 auto;
    flex-direction: column;
  }
  .testimonial-container .test_container .card-thumb {
    width: 100%;
    border-radius: 10px;
  }
  .testimonial-container .test_container .card-body {
    width: 100%;
    min-height: auto;
    margin-left: 0;
  }
}
@media (max-width: 280px) {
  .testimonial-container .testimonial-container {
    margin: 0 auto;
    width: 100%;
  }
  .testimonial-container .container {
    width: 50%;
    margin: 0 auto;
  }
  .testimonial-container .card {
    width: 235px !important;
    margin: 0 auto;
    flex-direction: column;
  }
  .testimonial-container .card-thumb {
    width: 100%;
    border-radius: 10px;
  }
  .testimonial-container .card-body {
    width: 100%;
    min-height: auto;
    margin-left: 0;
  }
}

.contact_container {
  padding: 50px 20px;
  background: #f5f6f6;
}
.contact_container .contact_header {
  padding: 20px;
  margin: 20px auto;
  color: #2f3542;
  text-align: center;
}
.contact_container .contact_header h1 {
  font-size: 40px;
}
.contact_container .contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin: 0 auto;
}
.contact_container .card {
  background: #2f3542;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(35% - 20px);
  height: 200px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.contact_container .card-icon {
  font-size: 28px;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}
.contact_container .card:hover .card-icon {
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}
.contact_container .card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
  font-size: 14px;
  text-align: center;
}
.contact_container .card:hover p {
  max-height: 40px;
  opacity: 1;
}
@media screen and (max-width: 800px) {
  .contact_container .contact_header .h1 {
    font-size: 30px;
  }
  .contact_container .contact-info {
    flex-direction: column;
  }
  .contact_container .card {
    width: 100%;
    margin: 10px 0;
  }
  .contact_container .card p {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px) {
  .contact_container .contact_container {
    padding: 10px;
  }
  .contact_container .contact-info {
    flex-direction: column;
    padding: 0px;
  }
  .contact_container .card {
    width: 100%;
    margin: 10px 0;
    padding: 0px;
  }
  .contact_container .card p {
    font-size: 12px;
  }
}

footer {
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
footer .footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
footer .footer-content h3 #span {
  font-size: 1.4rem;
  margin: 0;
}
footer .footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
footer .socials li {
  margin: 0 10px;
}
footer .socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}
footer .socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}
footer .socials a:hover i {
  color: aqua;
}
footer .footer-bottom {
  background: #000;
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
footer .footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
footer .footer-bottom p a {
  color: #44bae8;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
footer .footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
footer .footer-menu {
  float: right;
}
footer .footer-menu ul {
  display: flex;
}
footer .footer-menu ul li {
  padding-right: 10px;
  display: block;
}
footer .footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
footer .footer-menu ul li a:hover {
  color: #27bcda;
}
@media (max-width: 500px) {
  footer .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.whatsapp-icon {
  margin-top: 16px;
  color: #FFF;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .popular-destinations .destinations-container .destination {
    width: 100%;
    margin: 0 auto;
  }
  .popular-destinations .destinations-container .destination .content {
    padding: 0px;
    width: 100%;
    height: 10em !important;
  }
  .whatsapp-icon {
    margin-top: 10px;
  }
  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
}
@media screen and (max-width: 1024px) {
  .specials {
    padding: 3rem 2rem;
  }
  .specials .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .specials .cards-container .card .card-info .icon-box {
    left: 40%;
  }
  .popular-destinations {
    padding: 3rem 2rem;
  }
  .popular-destinations .lower-content button {
    font-size: 1.2em;
  }
  .services {
    padding: 3rem 2rem;
  }
  .services .services-container .service {
    padding: 1.5em;
  }
  footer {
    padding: 3rem 2rem;
  }
  footer .footer-container {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 3em;
  }
}
@media screen and (max-width: 880px) {
  .specials {
    padding: 1.5rem 1rem;
  }
  .specials .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .specials .cards-container .card .card-info .icon-box {
    left: 40%;
  }
  .other-info p {
    width: 35em;
  }
  .popular-destinations {
    padding: 1.5rem 1rem;
  }
  .popular-destinations .destinations-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular-destinations .lower-content button {
    font-size: 1.2em;
  }
  .services {
    padding: 1.5rem 1rem;
  }
  .services .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .services .services-container .service {
    padding: 1.5em;
  }
  .footer {
    padding: 1.5rem 1rem !important;
  }
}
@media screen and (max-width: 660px) {
  .specials {
    padding: 1rem;
  }
  .specials h1 {
    font-size: 30px;
  }
  .specials .cards-container {
    display: grid;
    grid-template-columns: 2, 1fr;
  }
  .specials .cards-container .card {
    margin-bottom: 1em;
  }
  .specials .cards-container .card .card-info .icon-box {
    left: 40%;
  }
  .other-info {
    padding: 1em;
  }
  .other-info h2 {
    font-size: 4.5em;
  }
  .other-info p {
    width: 24em;
    font-size: 1.5em;
    padding: 0;
    margin: 0 auto;
  }
  .popular-destinations {
    padding: 1.5rem 1rem;
  }
  .popular-destinations .destinations-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular-destinations .lower-content button {
    font-size: 1.2em;
  }
  .services {
    padding: 1.5rem 1rem;
  }
  .services .service-information p {
    width: 100%;
  }
  .services .services-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .services .services-container .service {
    padding: 1.5em;
  }
  footer {
    padding: 1.5rem 1rem !important;
  }
}
@media screen and (max-width: 600px) {
  .specials {
    padding: 1rem;
  }
  .specials .cards-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .specials .cards-container .card {
    margin-bottom: 1em;
  }
  .specials .cards-container .card .card-info .icon-box {
    left: 45%;
  }
  .other-info h2 {
    font-size: 4.5em;
  }
  .other-info p {
    width: 100%;
    font-size: 1.5em;
    padding: 0;
    margin: 0 auto;
  }
  .popular-destinations {
    padding: 1.5rem 1rem;
  }
  .popular-destinations .destinations-container {
    grid-template-columns: 1fr;
  }
  .popular-destinations .destinations-container .destination:nth-child(1) {
    height: 180px;
  }
  .popular-destinations .lower-content button {
    font-size: 1.2em;
  }
  .services {
    padding: 1.5rem 1rem;
  }
  .services .services-container {
    grid-template-columns: 1fr;
  }
  .services .services-container .service {
    padding: 1.5em;
  }
  footer {
    padding: 1em;
  }
  footer .footer-container {
    grid-template-columns: 1fr !important;
  }
}
@media screen and (max-width: 380px) {
  .specials {
    padding: 1rem;
  }
  .specials .cards-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .specials .cards-container .card {
    margin-bottom: 1em;
  }
  .specials .cards-container .card .card-info .icon-box {
    left: 40%;
  }
  .other-info h2 {
    font-size: 3.5em;
  }
  .other-info p {
    width: 100%;
    font-size: 1.5em;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .popular-destinations {
    width: 100%;
    padding: 1.5rem 1rem;
  }
  .popular-destinations .destinations-container {
    grid-template-columns: 1fr;
  }
  .popular-destinations .destinations-container .destination {
    width: 100% !important;
  }
  .popular-destinations .destinations-container .destination .content h1 {
    font-size: 3em;
  }
  .popular-destinations .destinations-container .destination .content span {
    width: 80% !important;
    font-size: 1.5em;
  }
  .popular-destinations .lower-content h2 {
    font-size: 1.4em;
  }
  .popular-destinations .lower-content button {
    font-size: 1.2em;
  }
  .services {
    padding: 1em;
  }
  .services .service-information {
    text-align: center;
  }
  .services .service-information H2 {
    font-size: 2.5em;
  }
  .services .services-container {
    grid-template-columns: 1fr;
  }
  .services .services-container .service {
    padding: 1.5em;
  }
  footer {
    padding: 1em;
  }
  footer .footer-container {
    grid-template-columns: 1fr !important;
  }
}
@media screen and (max-width: 390px) {
  .specials {
    padding: 1rem;
  }
  .specials .cards-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .specials .cards-container .card {
    margin-bottom: 1em;
  }
  .specials .cards-container .card .card-info .icon-box {
    left: 40%;
  }
  .other-info h2 {
    font-size: 3.5em;
  }
  .other-info p {
    width: 80%;
    font-size: 1.5em;
    text-align: center;
  }
  .popular-destinations {
    width: 100%;
    padding: 1.5rem 1rem;
  }
  .popular-destinations .destinations-container {
    grid-template-columns: 1fr;
  }
  .popular-destinations .destinations-container .destination {
    width: 100% !important;
  }
  .popular-destinations .destinations-container .destination .content h1 {
    font-size: 3em;
  }
  .popular-destinations .destinations-container .destination .content span {
    width: 80% !important;
    font-size: 1.5em;
  }
  .popular-destinations .lower-content h2 {
    font-size: 1.4em;
  }
  .popular-destinations .lower-content button {
    font-size: 1.2em;
  }
  .services {
    padding: 1em;
  }
  .services .service-information H2 {
    font-size: 2.5em;
  }
  .services .services-container {
    grid-template-columns: 1fr;
  }
  .services .services-container .service {
    padding: 1.5em;
  }
  footer {
    padding: 1em;
  }
  footer .footer-container {
    grid-template-columns: 1fr !important;
  }
}/*# sourceMappingURL=style.css.map */