$body-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Playfair Display', serif;
$primary-color: #061a3a;
$secondary-color: #ff7c5b;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: .8rem;;
}

::-webkit-scrollbar-track{
  background: #1D93D1;
}

::-webkit-scrollbar-thumb{
  background: #2D3192;
  /* border-radius: 5rem; */
}

body {
  font-size: 62.5%;
  font-family: $body-font;
  color: #808080;
}

button {
  border: none;
  color: white;
  background-color: #2d3192;
  padding: 1em 2em;
  transition: all 0.1s;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-family: $heading-font;
  font-weight: 600;
  letter-spacing: 0.2em;

  &:hover {
    // background: #33bae9;
    background: #ff7c5b;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    transform: scale(0.95);
  }
}
// header {
//   height: 100vh;
//   width: 100%;
//   // background: url('Images/Hero.jpg');
//   // background-size: cover;
//   // background-repeat: no-repeat;
//   // background-position: center;

//   video {
//     width: 100%;
//     height: 100vh;
//     position: absolute;
//     top: 0;
//     left: 0;
//     object-fit: cover;
//     pointer-events: none;
//     background-attachment: fixed;
//   }

//   .container {
//     position: relative;
//     z-index: 1;
//     padding: 3rem 5rem;
//     background-color: rgba(0, 0, 0, 0.5);
//     width: 100%;
//     height: 100vh;
//   }

//   .content {
//     display: flex;
//     flex-wrap: wrap;

//     justify-content: space-between;
//     .logo {
//       width: 6rem;
//       height: 6rem;

//       img {
//         width: 100%;
//         height: 100%;
//       }
//     }

//     .navigation {
//       display: flex;
//       list-style-type: none;
//       align-items: center;

//       li {
//         padding-right: 3rem;
//         font-size: 1.8em;

//         a {
//           text-decoration: none;
//           color: #fff;
//           position: relative;
//           padding-bottom: 0.2em;

//           &:hover {
//             color: #ff7c5b;
//           }

//           &:after {
//             content: ' ';
//             position: absolute;
//             bottom: 0;
//             right: 0;
//             width: 100%;
//             height: 2px;
//             // background-color: #fff;
//             background-color: #ff7c5b;
//             z-index: 1;
//             transform: scale(0);
//             transform-origin: right;
//             transition: transform 0.5s;
//           }
//           &:hover:after {
//             transform: scale(1);
//             transform-origin: left;
//           }
//         }

//         li:last-child {
//           padding-right: 0 !important;
//         }
//       }
//     }

//     .hamburger {
//       background: transparent;
//       border: 0;
//       display: none;
//       color: #fff;
//       font-size: 2em;
//       cursor: pointer;

//       &:focus {
//         outline: none;
//       }
//     }
//   }
//   .showcase {
//     text-align: center;
//     width: 70%;
//     margin: 0 auto;

//     h2 {
//       padding-top: 7rem;
//       // padding-top: 4rem;
//       font-family: $heading-font;
//       font-size: 5.5em;
//       color: #fff;
//       font-weight: 700;
//       text-transform: uppercase;
//       line-height: 1em;
//       letter-spacing: 0.1em;
//     }
//     p {
//       padding: 2em 0;
//       color: #fff;
//       font-size: 2em;
//       font-weight: 300;
//     }

//     button {
//       border: none;
//       color: white;
//       background-color: #2d3192;
//       padding: 1.5em 3em;
//       transition: all 0.1s;
//       border-radius: 0.3em;
//       text-transform: uppercase;
//       font-family: $heading-font;
//       font-weight: 600;
//       letter-spacing: 0.2em;

//       &:hover {
//         // background: #33bae9;
//         background: #ff7c5b;
//         color: #fff;
//         cursor: pointer;
//         font-weight: 800;
//         transform: scale(0.8);
//       }
//     }
//   }
// }

// @media screen and (max-width: 1300px) {
//   header {
//     .showcase {
//       h2 {
//         padding-top: 8rem;
//         // font-weight: 4em;
//       }
//     }
//   }
// }
// @media screen and (max-width: 1240px) {
//   header {
//     .showcase {
//       h2 {
//         padding-top: 3rem;
//         font-size: 4.5em;
//       }
//     }
//   }
// }
// @media screen and (max-width: 1050px) {
//   header {
//     .showcase {
//       h2 {
//         padding-top: 18rem;
//         font-size: 4em;
//       }

//       p {
//         font-size: 1.6em;
//       }
//     }
//   }
// }
// @media screen and (max-width: 850px) {
//   header {
//     .showcase {
//       h2 {
//         padding-top: 15rem;
//         font-size: 4em;
//       }

//       p {
//         font-size: 1.6em;
//       }
//     }
//   }
// }
// @media screen and (max-width: 1024px) {
//   header {
//     .container {
//       padding: 0em;
//     }
//     .content {
//       background-color: $primary-color;
//       padding: 1em;
//       position: absolute;
//       top: 0;
//       z-index: 10;
//       width: 100%;

//       .navigation {
//         padding-top: 1em;
//         display: none;
//         flex-direction: column;
//         width: 100%;

//         .nav-item {
//           padding-bottom: 0.5em;
//         }
//       }

//       .navigation.show {
//         display: flex;
//         // z-index: 999;
//       }
//       .navigation.responsive {
//         position: absolute;
//       }

//       .hamburger {
//         display: block;
//       }
//     }
//     .showcase {
//       position: relative;
//       overflow: hidden;
//       h2 {
//         padding-top: 16rem;
//       }
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   header {
//     .showcase {
//       h2 {
//         padding-top: 7rem;
//         font-size: 3.5em;
//       }

//       p {
//         font-size: 1.6em;
//       }
//     }
//   }
// }

// @media screen and (max-width: 650px) {
//   header {
//     .showcase {
//       h2 {
//         padding-top: 8rem;
//         font-size: 3em;
//       }

//       p {
//         font-size: 1.5em;
//       }
//     }
//   }
// }
// @media screen and (max-width: 550px) {
//   header {
//     .showcase {
//       h2 {
//         padding-top: 8em;
//         font-size: 2.5em;
//       }

//       p {
//         font-size: 1.5em;
//       }
//     }
//   }
//   button {
//     padding: 1em 1.5em !important;
//   }
// }
// @media screen and (max-width: 350px) {
//   header {
//     .showcase {
//       h2 {
//         padding-top: 12rem;
//         font-size: 1.8em;
//       }

//       p {
//         font-size: 1.5em;
//       }
//     }
//   }
// }

@font-face {
  font-family: 'Sketsa\ Ramadhan';
  src: url('/Sketsa\ Ramadhan.otf') format('truetype');
}
$body-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Playfair Display', serif;
$primary-color: #061a3a;
$secondary-color: #ff7c5b;
:root {
  --primary: #1f85c6;
  --heading-font: 'Playfair Display', serif;
}
#home {
  width: 100%;
  height: 100vh;

  video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
    background-attachment: fixed;
  }

  .container {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    #logo {
      width: 6rem;
      height: 6rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
    nav {
      ul {
        display: flex;
        li {
          margin: 20px;
          list-style: none;
          a {
            text-decoration: none;
            color: #fff;
            position: relative;
            padding-bottom: 0.2em;
            font-size: 1.7em;

            &:hover {
              color: #ff7c5b;
            }

            &:after {
              content: ' ';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 100%;
              height: 2px;
              // background-color: #fff;
              background-color: #ff7c5b;
              z-index: 1;
              transform: scale(0);
              transform-origin: right;
              transition: transform 0.5s;
            }
            &:hover:after {
              transform: scale(1);
              transform-origin: left;
            }
          }
          .active {
            color: #fff;
          }
        }
        #quit {
          display: none;
        }
      }
    }
    #bars {
      display: none;
    }
  }
  .content {
    color: #fff;
    text-align: center;
    padding: 100px;
    .left {
      text-align: center;
      width: 80%;
      margin: 0 auto;

      h1 {
        span {
          color: var(--primary);
          font-size: 75px;
          font-family: 'Sketsa\ Ramadhan';
          font-weight: 700;
          letter-spacing: 5px;
          text-transform: capitalize;
        }
        padding-top: 2rem;
        font-family: var(--heading-font);
        font-size: 55px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1em;
        letter-spacing: 0.1em;
      }
      p {
        padding: 10px 0 2em 0;
        color: #fff;
        font-size: 18px !important;
      }
      .btns {
        transition: all 0.3s;
        a {
          text-decoration: none;
          font-family: $heading-font;
          text-transform: uppercase;
          padding: 10px 20px;
          border: 2px solid var(--primary);
          color: #fff;
          font-weight: bolder;
          font-size: 17px;
          margin-right: 10px;
          transition: all 0.3s ease;
          &:hover {
            background: #ff7c5b;
            transform: scale(0.8);
          }
        }
        #login {
          background-color: var(--primary);
          transition: all 0.3s ease;
          &:hover {
            transform: scale(0.8);
            background: #ff7c5b;
            border: 0;
            color: #fff;
            cursor: pointer;
            font-weight: 800;
            transform: scale(0.8);
          }
        }
      }
      .icons {
        padding: 50px 0;
        i {
          padding-right: 40px;
          cursor: pointer;
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  #home {
    height: 600px;
    overflow: hidden;
    video {
      height: 600px;
      overflow: hidden;
    }
    header {
      nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        background-color: rgb(36, 36, 36);
        height: 100vh;
        transition: all 0.5s ease;
        overflow: hidden;
        z-index: 9999;
        ul {
          flex-direction: column;
          padding-top: 50px;
          li {
            padding-left: 10px;
            a {
              font-size: 17px;
              &:hover {
                color: #ff7c5b;
              }
            }
          }
          #quit {
            text-align: right;
            display: block;
            i {
              color: #fff;
              font-size: 30px;
              cursor: pointer;
              margin: 0 30px;
              padding: 10px;
              transition: all 0.5s ease;
              &:hover {
                transform: rotate(360deg) scale(1.2);
                transition: all 0.5s ease;
              }
            }
          }
        }
      }
      #bars {
        padding: 20px;
        position: relative;
        cursor: pointer;
        display: block;
        .bar {
          width: 50px;
          height: 3px;
          background-color: #fff;
          // position: absolute;
          margin: 10px 0;
          transition: all 0.3s ease;
        }
        &:hover {
          .shortbar {
            width: 40px;
            transition: all 0.3s ease;
          }
        }
      }
    }
    .content {
      padding: 20px;
    }
  }
}

@media only screen and (max-width: 800px) {
  #home {
    height: 600px;
    overflow: hidden;
    video {
      height: 600px;
      overflow: hidden;
    }
    .content {
      padding: 20px 30px;
      .left {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
          span {
            font-size: 45px;
          }
        }
        p {
          font-size: 15px !important;
          text-align: justify;
        }
      }
      .right {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 570px) {
  #home {
    height: 500px;
    overflow: hidden;
    video {
      height: 500px;
      overflow: hidden;
    }
    header {
      padding: 25px;
    }
    .content {
      padding: 20px 30px;
      .left {
        h1 {
          font-size: 25px;
        }
      }
    }
  }
}

.specials {
  padding: 3rem 5rem;

  background: #f5f6f6;

  h3 {
    color: #808080;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7em;
  }

  h1 {
    color: $primary-color;
    margin-bottom: 1em;
    font-size: 4em;
    text-align: center;
    font-family: $heading-font;
    font-weight: 800;
  }
}

.cards-container {
  // padding: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;

  background: #f5f6f6;
  .card {
    // width: 25%;
    border-radius: 1em;
    height: 40em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .image {
      width: 100%;
      height: 28.4em;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        border-radius: 1em 1em 0em 0em;
      }
    }

    .card-info {
      position: relative;
      width: 100%;
      background-color: #fff;
      // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 1em;
      .icon-box {
        position: absolute;
        top: -30%;
        left: 37%;
        width: 7em;
        height: 7em;
        text-align: center;
        margin-bottom: 2rem;

        i {
          color: $secondary-color;
          font-size: 4em;
          background-color: #fff;
          padding: 0.8em 0rem;
          width: 100%;
          height: 100%;
          text-align: center;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 50%;
          margin-bottom: 2rem;
        }
      }
      h3 {
        font-size: 2.5em;
        line-height: 1em;
        // font-family: $heading-font;
        font-weight: 800;
        padding: 1.5em 0.5em;
        color: $primary-color;
        text-transform: capitalize;
      }
    }
  }
}

.other-info {
  text-align: center;
  padding: 3rem 5rem;

  width: 100%;
  height: 50em;
  // background: url('/Images/bg1.jpg'), rgba(0, 0, 0, 0.2);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/Images/bg1.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  h2 {
    font-size: 6em;
    color: #fff;
    font-weight: 600;
    font-family: $heading-font;
    text-align: center;
    padding-top: 2em;
  }
  p {
    font-size: 1.6em;
    color: #fff;
    // letter-spacing: 0.3em;
    font-weight: 400;
    width: 50em;
    text-align: center;
    margin: 0 auto;
  }

  button {
    margin-top: 1em;
  }
}

.popular-destinations {
  padding: 3rem 5rem;
  background-color: #fff;
  // height: 45em;

  .destinations-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    .destination {
      position: relative;
      // width: 30%;
      height: 34em;
      border: 1em solid #f5f6f6;
      border-radius: 1em;

      .content {
        h3 {
          font-size: 1.6em;
        }

        h1 {
          color: $primary-color;
          margin-bottom: 1em;
          font-size: 4em;
          font-family: $heading-font;
          font-weight: 800;
        }

        span {
          font-size: 1.9em;
        }
      }

      .lower-content {
        // width: 6em;
        text-align: center;
        margin-top: 10em;
        background: #f5f6f6;
        border-radius: 50%;
        padding: 5em 2em;
        h2 {
          font-size: 2.5em;
          color: $primary-color;
          text-align: center;

          font-weight: 700;
        }

        button {
          background-color: $secondary-color;

          &:hover {
            background-color: $primary-color;
          }
        }
      }

      &:nth-child(1) {
        border: none;
      }

      .image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #000;

        &:after {
          content: '';
          background: rgba(0, 0, 0, 0.1);
        }
        img {
          width: 100%;
          height: 100%;
          transition: 0.7s;
          overflow: hidden;
          object-fit: cover;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
      p {
        font-size: 3em;
        font-weight: 600;
        color: $secondary-color;
        position: absolute;
        font-family: $heading-font;
        left: 5%;
        bottom: 10%;
      }
    }
  }
}

.services {
  padding: 3rem 5rem;
  background-color: #f5f6f6;
  .service-information {
    h2 {
      font-family: $heading-font;
      font-size: 4em;
      text-transform: uppercase;
      color: $primary-color;
      font-weight: 700;
    }

    p {
      margin-bottom: 1.5em;
      width: 40em;
      font-size: 1.5em;
    }
  }

  .services-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    .service {
      text-align: center;
      // width: 30%;
      transition: all 0.3s;
      padding: 1.5em 3em;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .icon-container {
        text-align: center;
        i {
          text-align: center;
          width: 3em;
          height: 3em;
          background: $secondary-color;
          padding: 1.5em 0em;
          font-size: 2.5em;
          border-radius: 50%;
          color: #fff;
        }
      }
      h2 {
        text-align: center;
        font-size: 2em;
        margin: 1em 0em;
        color: $primary-color;
        font-family: $heading-font;
      }
      p {
        font-size: 1.4em;
        text-align: left;
      }
    }
  }
}





.contact_container {

	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 5rem;
	background-color: #fafafa;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;


} 

  
  .form_contact {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    
    .contact-form {
    background-color: #2A8DCC;
    position: relative;
    }
    
    .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #149279);
    position: absolute;
    }
    
    .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
    }
    
    .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
    }
    
    .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #2A8DCC;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
    }
    
    .contact-form form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
    }
    
    .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
    }
    
    .input-container {
    position: relative;
    margin: 1rem 0;
    }
    
    .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
    }
    
    textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
    }
    
    .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
    }
    
    .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
    }
    
    .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #2A8DCC;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    }
    
    .btn:hover {
    background-color: transparent;
    color: #fff;
    }
    
    .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
    }
    
    .input-container span:before,
    .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #2A8DCC;
    top: 50%;
    transform: translateY(-50%);
    }
    
    .input-container span:before {
    left: 50%;
    }
    
    .input-container span:after {
    right: 50%;
    }
    
    .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
    }
    
    .input-container.focus span:before,
    .input-container.focus span:after {
    width: 50%;
    opacity: 1;
    }
    
    .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
    }
    
    .contact-info .title {
    color: #2A8DCC;
    }
    
    .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
    font-size: 1.6em;
    font-family: $body-font;
    }
    
    .information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
    }
    
    .icon {
    width: 28px;
    margin-right: 0.7rem;
    }
    
    .footer-media {
    padding: 2rem 0 0 0;
    }
    .footer-media i{
    color: #fff;
    font-size: 16px;
    }
    
    .footer-media p {
    color: #333;
    }
    
    .social-icons {
    display: flex;
    margin-top: 0.5rem;
    }
    
    .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #2A8DCC, #149279);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
    }
    
    .social-icons a:hover {
    transform: scale(1.05);
    }
    
    .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #1D93D1;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
    }
    
    .big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #2D3192, #1D93D1);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
    }
    
    .big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
    }
    
    .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
    }
  
 
  @media screen and (max-width:1024px) {
    .counter__wrapper {
      width: 85vw;
      margin: 30px auto !important;
    }
    .counter__container {
      height: 26vmin;
      width: 31vmin;
      font-size: 12px;
  
    }
    span.text {
      margin-top: -40px;
    }
    }
    
    @media screen and (max-width: 912px) {
    
    span.text {
      margin-top: -150px;
    }
    }
    
  @media (max-width: 850px) {
    .form_contact {
      grid-template-columns: 1fr;
    }
    
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
    
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
    
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
    
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
    
    .text {
      margin: 1rem 0 1.5rem 0;
    }
    
    .social-media {
      padding: 1.5rem 0 0 0;
    }
    }
    
    @media screen and (max-width: 820px) {
    
    span.text {
      margin-top: -120px;
    }
    }
    @media screen and (max-width: 768px) {
   
    span.text {
      margin-top: -200px;
    }
  
    }
    @media screen and (max-width: 540px) {
    span.text {
      margin-top: -100px;
    }
    }
    @media screen and (max-width: 480px) {
    
    span.text {
      margin-top: -40px;
    }
    .contact_container {
      padding: 1.5rem;
      }
    
      .contact-info:before {
      display: none;
      }
    
      .square,
      .big-circle {
      display: none;
      }
    
      form,
      .contact-info {
      padding: 1.7rem 1.6rem;
      }
    
      .text,
      .information,
      .social-media p {
      font-size: 0.8rem;
      }
    
      .title {
      font-size: 1.15rem;
      }
    
      .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
      }
    
      .icon {
      width: 23px;
      }
    
      .input {
      padding: 0.45rem 1.2rem;
      }
    
      .btn {
      padding: 0.45rem 1.2rem;
      }
    }
    @media screen and (max-width: 280px) {
    
    span.text {
      margin-top: 0px;
    }
    }


footer {
  padding: 3em 5em 1em 5em;
  background: #000;
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;

    .logo-information {
      .logo {
        img {
          width: 9.6em;
          height: 9.6em;
        }
      }
      p {
        font-size: 1.4em;
        color: #fff;
        padding-top: 1em;
      }
    }

    .sections {
      h2 {
        font-size: 3em;
        font-family: $heading-font;
        color: $secondary-color;
      }
      ul {
        li {
          list-style: none;
          font-size: 1.6em;
          color: #fff;
          padding: 0.5em 0em;

          a {
            text-decoration: none;
            position: relative;
            padding-bottom: 0.2em;
            color: #fff;
            &:after {
              content: ' ';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 100%;
              height: 2px;
              // background-color: #fff;
              background-color: #ff7c5b;
              z-index: 1;
              transform: scale(0);
              transform-origin: right;
              transition: transform 0.5s;
            }
            &:hover:after {
              transform: scale(1);
              transform-origin: left;
            }

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }

    .services-link {
      h2 {
        font-size: 3em;
        font-family: $heading-font;
        color: $secondary-color;
      }

      ul {
        li {
          list-style: none;
          font-size: 1.6em;
          color: #fff;
          padding: 0.5em 0em;

          a {
            text-decoration: none;
            position: relative;
            padding-bottom: 0.2em;
            color: #fff;
            &:after {
              content: ' ';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 100%;
              height: 2px;
              // background-color: #fff;
              background-color: #ff7c5b;
              z-index: 1;
              transform: scale(0);
              transform-origin: right;
              transition: transform 0.5s;
            }
            &:hover:after {
              transform: scale(1);
              transform-origin: left;
            }

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }

    .contacts-info {
      h2 {
        font-family: $heading-font;
        font-size: 3em;
        text-transform: capitalize;
        color: $secondary-color;
        font-weight: 700;
      }
      .infos {
        padding-top: 5em;
        .info {
          padding-bottom: 1em;
          i {
            color: $secondary-color;
            padding-right: 0.5rem;
          }
          span {
            color: #fff;
            font-size: 1.5em;
          }
        }
      }
    }
  }
  .copy {
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 4em 0em 0.2em 0em;
    p {
      text-align: center;
      font-size: 1.4em;
      color: #fff;
    }
  }
}


/* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
	color:#FFF;
}
/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}


@media screen and(max-width:1024px) {
  .specials {
    padding: 3rem 2rem;

    .cards-container {
      // padding: 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .card {
        .card-info {
          .icon-box {
            left: 40%;
          }
        }
      }
    }
  }

  .popular-destinations {
    padding: 3rem 2rem;

    .lower-content {
      button {
        font-size: 1.2em;
      }
    }
  }

  .services {
    padding: 3rem 2rem;

    .services-container {
      .service {
        padding: 1.5em;
      }
    }
  }
  footer {
    padding: 3rem 2rem;
    .footer-container {
      grid-template-columns: repeat(2, 1fr) !important;
      grid-gap: 3em;

      //   grid-template-columns: repeat(2, 1fr);
      //   grid-template-rows: repeat(2, 1fr);
    }
  }
}
@media screen and(max-width:880px) {
  .specials {
    padding: 1.5rem 1rem;

    .cards-container {
      // padding: 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .card {
        .card-info {
          .icon-box {
            left: 40%;
          }
        }
      }
    }
  }

  .other-info {
    p {
      width: 35em;
    }
  }

  .popular-destinations {
    padding: 1.5rem 1rem;
    .destinations-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .lower-content {
      button {
        font-size: 1.2em;
      }
    }
  }

  .services {
    padding: 1.5rem 1rem;

    .services-container {
      grid-template-columns: repeat(2, 1fr);
      .service {
        padding: 1.5em;
      }
    }
  }
  .footer {
    padding: 1.5rem 1rem !important;
    // grid-gap: 1em;
    // .footer-container {
    //   grid-template-columns: repeat(2, 1fr);
    // }
  }
}
@media screen and(max-width:660px) {
  .specials {
    padding: 1rem;

    .cards-container {
      // padding: 3rem;
      display: grid;
      grid-template-columns: (2, 1fr);

      .card {
        margin-bottom: 1em;
        .card-info {
          .icon-box {
            left: 40%;
          }
        }
      }
    }
  }

  .other-info {
    padding: 1em;
    h2 {
      font-size: 4.5em;
    }
    p {
      width: 20em;
      font-size: 1.5em;
    }
  }

  .popular-destinations {
    padding: 1.5rem 1rem;
    .destinations-container {
      grid-template-columns: repeat(2, 1fr);
    }

    .lower-content {
      button {
        font-size: 1.2em;
      }
    }
  }

  .services {
    padding: 1.5rem 1rem;
    .service-information {
      p {
        width: 80%;
      }
    }

    .services-container {
      grid-template-columns: repeat(2, 1fr);
      .service {
        padding: 1.5em;
      }
    }
  }
  footer {
    padding: 1.5rem 1rem !important;
    // grid-gap: 1em;
    // .footer-container {
    //   grid-template-columns: repeat(2, 1fr);
    // }
  }
}
@media screen and(max-width:600px) {
  .specials {
    padding: 1rem;

    .cards-container {
      // padding: 3rem;
      display: grid;
      grid-template-columns: (1fr);

      .card {
        margin-bottom: 1em;
        .card-info {
          .icon-box {
            left: 45%;
          }
        }
      }
    }
  }

  .other-info {
    h2 {
      font-size: 4.5em;
    }
    p {
      width: 80%;
      font-size: 1.5em;
    }
  }

  .popular-destinations {
    padding: 1.5rem 1rem;
    .destinations-container {
      grid-template-columns: (1fr);
    }

    .lower-content {
      button {
        font-size: 1.2em;
      }
    }
  }

  .services {
    padding: 1.5rem 1rem;

    .services-container {
      grid-template-columns: (1fr);
      .service {
        padding: 1.5em;
      }
    }
  }
  footer {
    padding: 1em;
    // grid-gap: 1em;
    .footer-container {
      grid-template-columns: (1fr) !important;
    }
  }
}
@media screen and(max-width:380px) {
  .specials {
    padding: 1rem;

    .cards-container {
      // padding: 3rem;
      display: grid;
      grid-template-columns: (1fr);

      .card {
        margin-bottom: 1em;
        .card-info {
          .icon-box {
            left: 40%;
          }
        }
      }
    }
  }

  .other-info {
    h2 {
      font-size: 3.5em;
    }
    p {
      width: 80%;
      font-size: 1.5em;
      // margin: 0em 0em !important;
      // padding: 0em 1em;
      text-align: center;
    }
  }

  .popular-destinations {
    width: 100%;
    padding: 1.5rem 1rem;
    .destinations-container {
      grid-template-columns: (1fr);

      .destination {
        width: 80% !important;

        .content {
          h1 {
            font-size: 3em;
          }
          span {
            width: 80% !important;
            font-size: 1.5em;
          }
        }
      }
    }

    .lower-content {
      h2 {
        font-size: 1.4em;
      }
      button {
        font-size: 1.2em;
      }
    }
  }

  .services {
    padding: 1em;
    .service-information {
      H2 {
        font-size: 2.5em;
      }
    }

    .services-container {
      grid-template-columns: (1fr);
      .service {
        padding: 1.5em;
      }
    }
  }
  footer {
    padding: 1em;
    // grid-gap: 1em;
    .footer-container {
      grid-template-columns: (1fr) !important;
    }
  }
}
